.about
    position: absolute
    z-index: 10
    margin-top: 34px
    height: 490px
    width: 790px
    background: url(../img/shadows/s_1.png) center (center/cover) no-repeat
    &__header
        transform: skewX(-15deg);
        height: 109px
        background-color: rgba(255,255,255,0.7)
        width: 580px
        position: absolute
        margin: 38px 0 0 394px
        &_item
            margin-left: 16px
            margin-top: 22px
            font-size: 92px
            line-height: 69px
            color: #000
            letter-spacing: -0.02em
            text-transform: uppercase
            transform: skewX(15deg)
            font-family: 'Intro Black'
    .divider
        margin: -3px auto
        border-bottom: 3px solid black
        width: 226px
        
    &__subheader
        position: absolute
        margin: 157px 0px 0px 367px
        height: 63px
        width: 275px
        background-color: rgba(255,255,255,0.7)
        transform: skewX(-15deg)
        &_for
            font-family: 'Intro Black Italic'
            margin: 0
            font-size: 36px
            font-weight: 700
            font-style: italic
            color: rgba(0, 0, 0, 1)
            text-align: center
            -ms-transform: scale(1)
            transform: skewX(15deg)
            

    &__price
        position: absolute
        margin: 165px 0px 0px 651px
        display: flex
        justify-content: center
        height: 50px
        width: 178px
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75)
        background-image: linear-gradient(90deg, #2aeb2a 0%, #007500 100%)
        transform: skewX(-15deg)
        .f
            position: absolute
            margin-top: 21px
            margin-left: -68px
            transform: skewX(15deg)
            height: 13px
            width: 22px
            font-size: 20px
            color: #fff
            text-align: center
            font-family: 'Intro Black'
        .s
            position: absolute
            margin: 0 0 0px -12px
            transform: skewX(15deg)
            font-size: 45px
            font-family: 'Intro'
            color: #fff
            font-family: 'Intro Black'
        .t
            position: absolute
            transform: skewX(15deg)
            font-size: 18px
            color: #fff
            text-align: center
            margin-top: 25px
            font-family: 'Intro Black'
            position: absolute
            margin-left: 50px
        sup
            font-size: 10px
            color: rgba(255, 255, 255, 1)
            text-align: center

    &__subinfo
        position: absolute
        margin: 245px 391px
        .item
            font-family: 'Proxima Nova Regular'
            height: 42px
            width: 297px
            font-size: 19px
            font-weight: 700
            color: rgba(255, 255, 255, 1)
            text-transform: uppercase

       
.shade
    height: 183px
    width: 3px
    background-color: rgba(255, 255, 255, 0.8)
    transform: skewX(-15deg)
    margin: 35px 0px 0px 370px
    position: absolute
    
@media screen and (max-width: 764px)
    .about 
        margin-top: 318px !important
        height: 380px !important
        width: 100% !important

